<section class="container">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<div class="offset1 carousel-image">
						<%= image_tag('cleteci-carousel-1.png') %>
					</div>
				</div>
				<div class="item">
					<div class="offset1 carousel-image">
						<%= image_tag('cleteci-carousel-2.png') %>
					</div>
				</div>
				<div class="item">
					<div class="offset1 carousel-image">
						<%= image_tag('cleteci-carousel-3.png') %>
					</div>
				</div>
				<div class="item">
					<div class="offset1 carousel-image">
						<%= image_tag('cleteci-carousel-4.png') %>
					</div>
				</div>
			</div>				
				<!--
				<div class="item">
					<div class="offset1 soft carousel-text">
						Software...
					</div>
				</div>
				<div class="item ware carousel-text">
					<div class="offset1">
						Software...
					</div>
				</div>
				<div class="item carousel-text">
					<div class="offset1">
						y más <em class="soft">Soft</em><em class="ware">ware</em>
					</div>
				</div>
			</div>
			-->
			<!-- Carousel nav -->
			<!-- 
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			-->
		</div>
	</div>	
</section>
