<section class="container">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<!-- <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/ItalianMarketPhiladelphia.jpg/1170px-ItalianMarketPhiladelphia.jpg"></img> -->
					<article class="span6">
						<div class="offset1">
							<header>
								<h1>Lorem ipsum dolor sit amet consectetur adipiscing</h1>
							</header>
							<p>Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit</p>
						</div>
					</article>
				</div>
				<div class="item">
					<!-- <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/ItalianMarketPhiladelphia.jpg/1170px-ItalianMarketPhiladelphia.jpg"></img> -->
					<article class="span6">
						<div class="offset1">
							<header>
								<h1>Neque porro quisquam est qui dolorem </h1>
							</header>
							<p>Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit</p>
						</div>
					</article>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</section>
