<section id="company">
	<div class="container">
		<article class="first-row">
			<h1>Nosotros</h1>
			<div class="span8">
				<div class="text-content">
					<p>
						El <em class="soft">Soft</em><em class="ware">Ware</em> está transformando
						el mundo y en Cleteci contribuímos a ese cambio... Somos una empresa de Desarrollo
						de <em class="soft">Soft</em><em class="ware">Ware</em> y tecnología de 
						información, con experiencia en la entrega de soluciones para clientes de
						un amplio rango de industrias. Amamos el <em class="soft">Soft</em><em class="ware">Ware</em>
					  y, con convicción, nos dedicamos a producirlo. Estamos comprometidos con el 
					  producto, la calidad y la mejora continua como único para garantizar una 
					  relación ganar-ganar con nuestra gente, nustros clientes, el medio ambiente 
					  y la sociedad.
					</p>
					<p>
						El equipo de profesionales de cleteci cuenta con experiencia desarrollando 
						<em class="soft">Soft</em><em class="ware">Ware</em> para grandes y pequeñas 
						empresas, en grandes y pequeños proyectos. Además nos emociona trabajar en 
						emprendimientos Web 2.0 para las cuales conocemos arquitecturas innovadoras
						basadas en Software as a Service y Cloud Computing.	
					</p>
				</div>
			</div>
			<div class="span3" id="scrum">
				<%= image_tag('cleteci-scrumproductowner.png') %>
				<%= image_tag('cleteci-scrummaster.png') %>
			</div>
		</article>
		<article class="second-row">
			<div class="span3 weareagile"></div>
			<div class="span3 postit1">
				<p>
					Utilizamos prácticas de Desarrollo de <em class="soft">Soft</em><em class="ware">Ware</em>
					Ágil para la entrega de productos que maximizan el retorno de inversión en corto plazo,
					buscando la entrega continua de resultados.					
				</p>
			</div>
			<div class="span3 postit2">
				<p>
					Nos tomamos en serio la agilidad. Varios de nosotros estamos 
					certificados como Scrum Master y Scrum Product Owner para
					introducir prácticas de desarrollo de <em class="soft">Soft</em><em class="ware">Ware</em> de
					clase mundial.
				</p>
			</div>
			<div class="span3 sketchedlogo"></div>
		</article>
	</div>
</section>
