<section id="contact"">
	<div class="container">
		<h1>Contáctanos</h1>
		<%= render 'static_pages/contact_form' %>
		<div class="span12 pull-right logo-footer">
				<%= image_tag("cleteci-logo-big.png", alt: "Cleteci", class: "pull-right") %>
		</div>
	</div>
</section>
