<section id="intro" class="page-view">
	<%= render 'static_pages/carousel' %>	
	<div class="row break-page"></div>
	<div class="content-preview">
		<section class="container">

			<%= content_box "#","Nosotros", "", "cleteci-nosotros.png", "", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %>
			<%= content_box "#","Portafolio de Servicios", "content-img-portfolio", "cleteci-carpetas.png", "content-portfolio", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %>	
			<%= content_box "#","Tecnología", "", "cleteci-logo-small.png", "", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %>			
		
		</section>
	</div>
</section>
