<section id="intro">
	<%= render 'static_pages/carousel' %>
	<div class="content-preview">
		<section class="container">
			
			<article class="span4">
				<header>
					<h1>¿Qué hacemos?</h1>
					<div class="article-content">
						<ul>
							<li>Desarrollo, mantenimiento y operación de <em class="soft">SOFT</em><em class="ware">WARE</em></li>
							<li>Integración de aplicaciones</li>
							<li>Soluciones para mensajería de texto y listas de correos</li>
							<li>Consultoría IT</li>
							<li>Pruebas automatizadas</li>
							<li>Product Discovery</li>
							<li>Diseño Web</li>
						</ul>
					</div>
				</header>
			</article>			
			<!--<%= content_box "#","Nosotros", "", "cleteci-nosotros.png", "", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %> -->
			<%= content_box "#","Portafolio de Servicios", "content-img-portfolio", "cleteci-carpetas.png", "content-portfolio", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %>	
			<%= content_box "#","Tecnología", "", "cleteci-logo-small.png", "", "Fusce volutpat interdum diam ut accumsan. Phasellus vel tellus placerat libero tempor vestibulum. Mauris volutpat tincidunt nulla, vel scelerisque magna accumsan id. Vestibulum non erat eget libero semper sagittis. Mauris ipsum purus, interdum sit amet ornare eget, blandit sit amet erat. In nec enim sem, sed gravida elit" %>			
		
		</section>
	</div>
</section>
