<section id="technology">
	<div class="container blackboard">
		<div class="languages">
			<header>
				<h1><%= t ".title1" %></h1>
			</header>
			<div draggable="true" class="postit" id="tech-msg1">
				<p><%= t ".postit1" %></p>
			</div>
			<div draggable="true" class="postit" id="tech-msg2">
				<p><%= t ".postit2" %></p>
			</div>
			<div draggable="true" class="postit" id="html5""></div> 
			<div draggable="true" class="postit" id="css3"></div> 
			<div draggable="true" class="postit" id="rails"></div> 
			<div draggable="true" class="postit" id="php"></div>
			<div draggable="true" class="postit" id="java"></div> 
			<div draggable="true" class="postit" id="microsoft"></div> 
			<div draggable="true" class="postit" id="oracle"></div> 
		</div>
		<div class="agile-tools">
			<header>
				<h1><%= t ".title2" %></h1>
			</header>
			<div draggable="true" class="postit" id="jira""></div> 
			<div draggable="true" class="postit" id="versionone""></div> 
			<div draggable="true" class="postit" id="pivotaltracker""></div> 
			<div draggable="true" class="postit" id="greenhopper""></div> 
			<div draggable="true" class="postit" id="redmine""></div> 
		</div>
	</div>
</section>
