<section id="technology">
	<div class="container blackboard">
		<header>
			<h1>Teconología</h1>
		</header>
		<div class="postit" id="tech-msg1">
			Evolucionamos con la Tecnología
		</div>
		<div class="postit" id="tech-msg2">
			Nos reinventamos con tus necesidades
		</div>
	</div>
</section>
