<%= render 'static_pages/intro' %>
<div class="wrapper">
	<div class="clouds-break-page"></div>
	<div class="break-page"></div> 
</div>
<%= render 'static_pages/company' %>
<%= render 'static_pages/technology' %>
<%= render 'static_pages/contact' %>
