/* Phone animation */

/* Mixins */
@mixin phone-animation-keyframes {
	25%  {@include phone-keyframe-2;}
	50%  {@include phone-keyframe-1;}
	75%  {@include phone-keyframe-2;}
	100% {@include phone-keyframe-1;}
}

@mixin phone-keyframe-1 {
	tranform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
}

@mixin phone-keyframe-2 {
	tranform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
}

@keyframes phone-animation {
	@include phone-animation-keyframes;
}

@-moz-keyframes phone-animation {
	@include phone-animation-keyframes;
}

@-webkit-keyframes phone-animation {
	@include phone-animation-keyframes;
}

.phone div:first-child:hover {
	animation: phone-animation 0.3s infinite linear;
	-moz-animation: phone-animation 0.3s infinite linear;
	-webkit-animation: phone-animation 0.3s infinite linear;
}

/* Send animation */

/* Mixins */

@mixin send-animation-keyframes {
	25%  {@include send-keyframe-2;}
	50%  {@include send-keyframe-1;}
	75%  {@include send-keyframe-2;}
	100% {@include send-keyframe-1;}
}

@mixin send-keyframe-1 {
	background-position: -188px 0;
}

@mixin send-keyframe-2 {
	background-position: 0 0;
}

@keyframes send-animation {
	@include send-animation-keyframes;
}

@-moz-keyframes send-animation {
	@include send-animation-keyframes;
}

@-webkit-keyframes send-animation {
	@include send-animation-keyframes;
}

input.submit-appointment:hover {
	animation: send-animation 0.5s steps(1,end) infinite;
	-moz-animation: send-animation 0.5s steps(1,end) infinite;
	-webkit-animation: send-animation 0.5s steps(1,end) infinite;
}
