@import "bootstrap";
@import "bootstrap-responsive";

@font-face {
    font-family: 'ThrowMyHandsUpintheAirRegular';
    src: font-url('throwmyhandsupintheair-webfont.eot');
    src: font-url('throwmyhandsupintheair-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('throwmyhandsupintheair-webfont.woff') format('woff'),
         font-url('throwmyhandsupintheair-webfont.ttf') format('truetype'),
         font-url('throwmyhandsupintheair-webfont.svg#ThrowMyHandsUpintheAirRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Imagine';
    src: font-url('imagine_font-webfont.eot');
    src: font-url('imagine_font-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('imagine_font-webfont.woff') format('woff'),
         font-url('imagine_font-webfont.ttf') format('truetype'),
         font-url('imagine_font-webfont.svg#imagine_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Colors */
$myDarkGray: #343434;
$myBlue: #0081bf;
$myOrange: #f68c36;
$myGreen: #9dd15a;

$headerShadow: 0 2px 4px rgba(0, 0, 0, 0);
$navBarBackground: $myDarkGray;
$contactSectionBackground: $myDarkGray;
$navBarText: $myOrange;
$carouselHeader: $myBlue;
$breakPageBackground: $myOrange;
$contactText: $myOrange;
$intro-box-rotation: -5deg;
$company-box-rotation: -6deg;
$technology-box-rotation: -3deg;

/* Mixins */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* General */

body {
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif
}

[class*="span"]{
	margin-left: 0px;
}

.clear-content {
	clear: both;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	margin-top: 10px;
}

.soft {
	font-family: 'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ware {
	font-family: 'Imagine', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flash-margin {
	margin-top: 75px;
}

.centered {
	text-align: center;
}


/* Header */

.navbar-inner {
	background-color: $navBarBackground;
	background-image: none;
	border-radius: 0px;
	padding: 0px;
	-moz-box-shadow: $headerShadow;
  -webkit-box-shadow: $headerShadow;
  box-shadow: $headerShadow;
}

.navbar {
	margin: 0px;
	.nav {
		margin-top: 15px;
		> li > a {
			color: $white;
			padding-bottom: 0;
			&:hover {
				color: $navBarText;
			}
		}
		.active a {
			background-color: transparent;
			color: $navBarText;
			&:hover {
				color: $navBarText;
				background-color: transparent;
			}
		}
		li aside{			
			height: 10px;
			width: 0px;
			margin-left: 4px;
		}
		#menu1 aside {
			background: asset-url("cleteci-menu-underline-1.png", image) no-repeat;
		}
		#menu2 aside {
			background: asset-url("cleteci-menu-underline-2.png", image) no-repeat;
		}
		#menu3 aside {
			background: asset-url("cleteci-menu-underline-3.png", image) no-repeat;
		}
		#menu4 aside {
			background: asset-url("cleteci-menu-underline-4.png", image) no-repeat;
		}
	}
}


/* Footer */

footer {
	min-height: 200px;
}

.navbar ul.nav-footer > li {
	padding-left: 15px;
	> a {
		padding-left: 0px;
		padding-right: 19px;
		font-size: 18px;
	}
}

ul.nav-footer {
	ul{
		list-style-type: none;
		margin: 0px;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				color: $navBarText;
			}
		}
	}
}

.footer-contact {
	color: $white;
	margin-left: 50px;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	h1{
		color: $contactText;
	}
	p {
		margin: 0px;
	}
	a {
		color: $white;
	}
	.contact-content {
		margin-top: 15px;
	}
	.child-left {
		float: left;
		width: 33.33%;
	}
	.child-right {
		float: right;
		width: 66.66%;
	}
}

.phone .child-left {
	margin-top: 5px;
}

.mail div {
	margin-top: 10px;
}

/* Carousel */

.carousel {
	margin-bottom: 0px;
	height: 325px;
	article {
		margin-top: 30px;
		margin-bottom: 30px;
		header {
			h1 {
				color: $carouselHeader; 
			}
		}
		p {
			margin-top: 10px;
			color: $grayDark;
			line-height: 25px;
		}
	}
}

.carousel-image {
	padding-top: 40px;
}

.carousel-text {
	font-size: 64px;
	height: 325px;
	padding-top: 150px;
	padding-left: 175px;
	em {
		font-style: normal;
	}
	.soft {
		color: $myGreen; 
	}
	.ware {
		padding-left: 6px;
	}
}


/* Home */

.postit {
	height: 135px;
	width: 140px;
	position: absolute;
	p {
		width: 80%;
		top: 20px;
		left: 10px;
		position: absolute;
		text-align: center;
		color: $white;
		font-family: 'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 20px;
	}
}

.drop-box {
	height: 135px;
	width: 140px;
	position: absolute;
	border-style: dashed;
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
	
}

.title h1 {
	font-size: 40px;
	margin-bottom: 18px;
	font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

/* Intro */

#intro {
	padding-top: 64px;
	height: 625px;
}

.content-preview {
	min-height: 370px;
	color: $black;
	position: relative;
	a {
		color: $black;
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	section article {
		margin-top: 60px;
		margin-left: 20px;
		&.postit-intro h1{
			font-size: 32px;
			font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: normal;
			color: $myDarkGray;
		}		
	}
	
	.article-content {
		margin-top: 15px;
		ul li {
			padding-left: 37px;
			background-image: asset-url('cleteci-orange-arrow.png', image);
			background-repeat: no-repeat;
			background-position: 0 .2em;
			margin-top: 5px;
		}
		p {
			margin-left: 15px;
			line-height: 22px;
		}
		em {
			font-style: normal;
			font-size: 15px;
		}
		.soft {
			color: $myGreen;
			font-weight: bold;
		}
		.ware {
			padding-left: 6px;
		}		
	}	
}

.content-portfolio {
	background: asset-url('cleteci-postit-green-2.png', image) no-repeat;
	min-height: 210px;
	width: 187px;
	position: relative;
	div {
		position: absolute;
		top: 25px;
		left: 20px;
		img {
			position: absolute;
			top: 75px;
			left: 17px;
		}
	}
}

.content-company {
	background: asset-url('cleteci-postit-green-1.png', image) no-repeat;
	min-height: 210px;
	width: 203px;
	position: relative;
	div {
		position: absolute;
		top: 25px;
		left: 47px;
		transform:rotate($intro-box-rotation);
		-ms-transform:rotate($intro-box-rotation);
		-moz-transform:rotate($intro-box-rotation);
		-webkit-transform:rotate($intro-box-rotation);
		-o-transform:rotate($intro-box-rotation);
	}
	img {
			position: absolute;
			width: 70px;
			top: 35px;
			left: 17px;
		}
}

.wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 152px;
}

.clouds-break-page {
	min-height: 152px;
	width: 100%;
	background: asset-url('cleteci-clouds.png', image) no-repeat center 100%;
	position: absolute;
}

.break-page {
	min-height: 15px;
	width: 100%;
	background-color: $breakPageBackground;
	position: absolute;
	bottom: 0;
}

/* Company */

#company {
	background-image: asset-url("fondo.jpg", image);
	background-repeat: repeat-x;
	background-color: #0092d0;
	color: $white;
	padding-top: 140px;
	height: 980px;
	h1 {
		font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
	}
	#scrum {
		margin-left: 60px;
		img {
			padding-bottom: 20px;
		}
	}
	.text-content {
		margin-left: 50px;		
		p {
			font-size: 15px;
			line-height: 24px;
		}
		em {
			font-style: normal;
			&.soft {
				color: $myOrange;
				font-weight: bold;
				font-size: 20px;
			}
		}
	}
	.second-row {
		clear: both;
		div {
			height: 250px;
			position: relative;
			margin-top: 56px;			
			p {
				width: 179px;				
				font-size: 19px;
				line-height: 31px;
				color: $black;
				font-family: 'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
				em {
					font-style: normal;
					&.soft {
						color: $white;
						font-weight: bold;
					}
				}				
			}
		}
		.weareagile {
			background: asset-url("cleteci-weareagile.png",image) no-repeat 55px 20px;
		}
		.postit1 {
			background: asset-url("cleteci-postit-orange-1.png",image) no-repeat;
			p {				
				position: absolute;
				top: 18px;
				left: 15px;
			}
		}
		.postit2 {
			background: asset-url("cleteci-postit-orange-2.png",image) no-repeat;
			p {
				position: absolute;
				top: 18px;
				left: 18px;
				transform:rotate($company-box-rotation);
				-ms-transform:rotate($company-box-rotation);
				-moz-transform:rotate($company-box-rotation);
				-webkit-transform:rotate($company-box-rotation);
				-o-transform:rotate($company-box-rotation);
			} 
		}
		.sketchedlogo {
			background: asset-url("cleteci-logo-sketch.png",image) no-repeat;
		}
	}
}

/* Technology */ 

#technology {
	background: asset-url("cleteci-technology-background.jpg", image);
	padding-top: 190px;	
	height: 980px;
	h1 {
		font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
	}
	.blackboard {
		position: relative;
		.postit {
			cursor: move;
		}
		.arrow-tech {
			position: absolute;
			width: 388px;
			top: -14px;
			left: 36%;
			font-size: 25px;
			p {
				font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 23px;
				text-align: center;
				line-height: 25px;
			}		
			#arrow-msg1 {
				width: 206px;
				position: absolute;				
				left: 10%;
				top: -40px;
			}
			#arrow-msg2 {
				width: 193px;
				position: absolute;
				left: 44%;
				top: 55px;
			}
		}
		.languages {
			min-height: 250px;
			#tech-msg1 {
				background: asset-url("cleteci-postit-blue-1.png",image) no-repeat;
				top: 269px;
				left: 859px;
				p {
					width: 70%;
					top: 33px;
					left: 14px;
					transform:rotate($technology-box-rotation);
					-ms-transform:rotate($technology-box-rotation);
					-moz-transform:rotate($technology-box-rotation);
					-webkit-transform:rotate($technology-box-rotation);
					-o-transform:rotate($technology-box-rotation);
				}
			}			
			#tech-msg2 {
				background: asset-url("cleteci-postit-blue-2.png",image) no-repeat;
				top: 328px;
				left: 959px;
			}
			#html5 {
				background: asset-url("cleteci-postit-html5.png",image) no-repeat;
				left: 72%;
				top: -60px;
				z-index: 1;
			}
			#css3 {
				background: asset-url("cleteci-postit-css3.png",image) no-repeat;
				left: 4%;
				top: 65px;
			}
			#rails {
				background: asset-url("cleteci-postit-rails.png",image) no-repeat;
				left: 12%;
				top: 100px;
				z-index: 2;
			}
			#php {
				background: asset-url("cleteci-postit-php.png",image) no-repeat;
				left: 20%;
				top: 59px;
				
			}
			#java {
				background: asset-url("cleteci-postit-java.png",image) no-repeat;
				left: 29%;
				top: 91px;
				z-index: 1;
			}
			#microsoft {
				background: asset-url("cleteci-postit-microsoft.png",image) no-repeat;
				left: 39%;
				top: 83px;
			}
			#oracle {
				background: asset-url("cleteci-postit-oracle.png",image) no-repeat;
				top: 136px;
				left: 47%;
			}
			#dashed-box-1 {
				top: -70px;
				left: 71%;
			}
			#dashed-box-2 {
			  top: -70px;
				left: 85%;
			}
			#dashed-box-3 {
				top: 90px;
				left: 71%;
			}
			#dashed-box-4 {
				top: 90px;
				left: 85%;
			}
		}
		.agile-tools {
			#jira {
				background: asset-url("cleteci-postit-jira.png",image) no-repeat;
				left: 3%;
				top: 318px;
			}
			#versionone {
				background: asset-url("cleteci-postit-versionone.png",image) no-repeat;
				left: 13%;
				top: 322px;
			}
			#pivotaltracker {
				background: asset-url("cleteci-postit-pivotal.png",image) no-repeat;
				left: 23%;
				top: 321px;
			}
			#greenhopper {
				background: asset-url("cleteci-postit-green.png",image) no-repeat;
				left: 34%;
				top: 317px;
			}
			#redmine {
				background: asset-url("cleteci-postit-redmine.png",image) no-repeat;
				left: 44%;
				top: 324px;
			}			
		}
	}
}

/* Contact */

#contact {
	background-color: $contactSectionBackground;	
	padding-top: 140px;	
	height: 980px;
	color: $white;
	label {
		color: $white;
	}
	h1 {
		font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		color: $myOrange;
	}
	#appointment-form {
		margin-left: 25px;
	}
	.postit {
		position: relative;
	}
	#arrange {
		background: asset-url("cleteci-postit-arrange.png",image) no-repeat;
		margin-left: 25px;
	}
	.mail img {
		padding-left: 10px;
	}
	.logo-footer {
		margin-top: 35px;
	}
}


/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
	height: 196px;
}

.floating-left-label {
	float: left;
	margin-right: 15px;
}

input.submit-appointment {
	font-family:'ThrowMyHandsUpintheAirRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	margin-top: 25px;
	margin-right: 70px;
	width: 188px;
	background: asset-url('cleteci-send-sprite.png', image) no-repeat;
	height: 52px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	&:hover {
		background-color: transparent;
		background-position: -188px 0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
 /* Admin */
 .admin {
 	margin-top: 100px;
 }
 
 
 /* **************************************************************************
 Media Queries
 ************************************************************************** */
@media touchscreen and (max-width: 480px) {
	.carousel-control {
		visibility: hidden;
	}
}
 
 
 
