@import "bootstrap";
@import "bootstrap-responsive";

/* Colors */
$myDarkGray: #343434;

$headerShadow: 0 2px 4px rgba(0, 0, 0, 0);
$headerGray: $myDarkGray;

/* Header */

.header-top {
	background-color: $headerGray;
}

.navbar-inner {
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	padding-right: 0px;
	-moz-box-shadow: $headerShadow;
  -webkit-box-shadow: $headerShadow;
  box-shadow: $headerShadow;
}

.logo {
	margin-top: 20px;
}



.slider-container {
	position: absolute;
	width: 30%;
	left: 10%;
	top: 10%;
	background: #222;
	opacity: 0.5;
	color: #ffffff;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	font-weight: 100;
	line-height: 40px;
	font-size: 3.030303em;
	padding: 20px;
}
