@import "bootstrap";
@import "bootstrap-responsive";

/* Colors */
$myDarkGray: #343434;
$myBlue: #0081bf;
$myOrange: #f68c36;

$headerShadow: 0 2px 4px rgba(0, 0, 0, 0);
$navBarGray: $myDarkGray;
$navBarTextBlue: $myBlue;
$breakPageOrange: $myOrange;

/* Header */

.cross-bar {
	background-color: $navBarGray;
}

.navbar-inner {
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	padding: 0px;
	-moz-box-shadow: $headerShadow;
  -webkit-box-shadow: $headerShadow;
  box-shadow: $headerShadow;
}

.navbar {
	margin: 0px;
	.nav {
		margin-top: 15px;
		> li > a {
			color: $white;
			&:hover {
				color: $navBarTextBlue;
			}
		}
		.active a {
			background-color: transparent;
			color: $navBarTextBlue;
			&:hover {
				color: $navBarTextBlue;
				background-color: transparent;
			}
		}
	}
}


/* Footer */

.navbar ul.nav-footer > li > a {
	padding-left: 0px;
	padding-right: 19px;
}

ul.nav-footer {
	ul{
		list-style-type: none;
		margin: 0px;
	}
}

/* General */

[class*="span"]{
	margin-left: 0px;
}


/* Carousel */

.slider-container {
	position: absolute;
	width: 30%;
	left: 10%;
	top: 10%;
	background: #222;
	opacity: 0.5;
	color: #ffffff;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	font-weight: 100;
	line-height: 40px;
	font-size: 3.030303em;
	padding: 20px;
}

.carousel {
	margin-bottom: 0px;
}


/* Home */

.break-page {
	min-height: 10px;
	background-color: $breakPageOrange;
}

.content-preview {
	min-height: 370px;	
	background-image: asset-url("fondo.png", image);
	color: $white;
	section article{
		margin-top: 60px;
		margin-left: 90px;
		h1 {
			font-size: 24px;
		}
	}
}
