@import "bootstrap";
@import "bootstrap-responsive";

/* Colors */
$myDarkGray: #343434;
$myBlue: #0081bf;
$myOrange: #f68c36;

$headerShadow: 0 2px 4px rgba(0, 0, 0, 0);
$navBarGray: $myDarkGray;
$navBarTextBlue: $myBlue;
$carouselHeader: $myBlue;
$breakPageOrange: $myOrange;
$contactText: $myOrange;

/* General */

body {
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif
}

[class*="span"]{
	margin-left: 0px;
}

.clear-content {
	clear: both;
}


/* Header */

.cross-bar {
	background-color: $navBarGray;
}

.navbar-inner {
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	padding: 0px;
	-moz-box-shadow: $headerShadow;
  -webkit-box-shadow: $headerShadow;
  box-shadow: $headerShadow;
}

.navbar {
	margin: 0px;
	.nav {
		margin-top: 15px;
		> li > a {
			color: $white;
			&:hover {
				color: $navBarTextBlue;
			}
		}
		.active a {
			background-color: transparent;
			color: $navBarTextBlue;
			&:hover {
				color: $navBarTextBlue;
				background-color: transparent;
			}
		}
	}
}


/* Footer */

.footer-break-page {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0%;
	td {
		width: 50%;
		&:first-child {
			background-color: $navBarGray;;
		}
		&:last-child {
			background-image: asset-url("cleteci-curve.png", image);
			background-repeat: no-repeat;
			image-rendering: -webkit-optimize-contrast;
		}
	}
}

footer {
	min-height: 200px;
}

.navbar ul.nav-footer > li {
	padding-left: 15px;
	> a {
		padding-left: 0px;
		padding-right: 19px;
		font-size: 18px;
	}
}

ul.nav-footer {
	ul{
		list-style-type: none;
		margin: 0px;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				color: $navBarTextBlue;
			}
		}
	}
}

.footer-contact {
	color: $white;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	h1{
		color: $contactText;
	}
	p {
		margin: 0px;
	}
	.contact-content {
		margin-top: 15px;
	}
	.child-left {
		float: left;
		width: 33.33%;
	}
	.child-right {
		float: right;
		width: 66.66%;
	}
}

.phone .child-left {
	margin-top: 5px;
}

.mail div {
	margin-top: 10px;
}

/* Carousel */

/*.slider-container {
	position: absolute;
	width: 30%;
	left: 10%;
	top: 10%;
	background: #222;
	opacity: 0.5;
	color: #ffffff;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	font-weight: 100;
	line-height: 40px;
	font-size: 3.030303em;
	padding: 20px;
}*/

.carousel {
	margin-bottom: 0px;
	article {
		margin-top: 30px;
		margin-bottom: 30px;
		header {
			h1 {
				color: $carouselHeader; 
			}
		}
		p {
			margin-top: 10px;
			color: $grayDark;
			line-height: 25px;
		}
	}
}


/* Home */

.break-page {
	min-height: 10px;
	background-color: $breakPageOrange;
}

.content-preview {
	min-height: 370px;	
	background-image: asset-url("fondo.png", image);
	color: $white;
	position: relative;
	a {
		color: $white;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
	section article{
		margin-top: 60px;
		margin-left: 20px;
		h1 {
			font-size: 24px;
		}
	}
	
	.article-content {
		margin-top: 15px;
		p {
			margin-left: 15px;
			line-height: 22px;
		}
		.content-img-portfolio {
			width: 100px;
		}
		.content-portfolio {
			width: 250px;
		}
	}
}
